{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container" style="margin-top: 5rem;">
    <div class="row">
        <div class="col-md-6">
            <div class="bg-light shadow-lg p-5" style="border-radius:15px; color: #f2f2f2;">
                <h3 class="text-center" style="color: #16348c ;">تقدر تبعت سؤالك او رسالتك من هنا</h3>
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{message.tags}}">
                    {{message}}
                </div>
                {% endfor %}
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    {{form|crispy}}
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-outline-primary rounded-pill mt-3 shadow">ارسال 
                            <i class="bi bi-send"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <img src="/static/main/img/undraw_Quiz_re_aol4.png" class="img-fluid" alt="">
        </div>
        <h1 class="text-center fw-bold mt-5 mb-5" style="color: #16348c ;"> الاسئلة الواردة  </h1>
        
        <div class="col-12 mb-5">
            {% for ask in asks %}
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button fs-3 fw-bold" style="color: #16348c ;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      {{ask.message}}
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {{ask.answer}}
                    </div>
                  </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>
</div>


{% endblock content %}