{% extends 'dashboard/base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            {% for q in qs %}
            <div class="card text-left mb-5">
                <div class="card-body">
                    <h4 class="card-title">{{q.name}}</h4>
                    <h4 class="card-title">{{q.year}}</h4>
                    <p class="card-text">{{q.message}}</p>
                    <a href="{% url 'answer_ask' q.id %}">اجب</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}