<!DOCTYPE html>{% load static %}
<html lang="ar" dir="rtl">

<head>
    <!--bootstrap -V 5.1.3x-->
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'main/img/logo/logo-modified.png' %}">
    <link rel="stylesheet" href="{% static 'main/css/lib/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/lib/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/lib/bootstrap.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/lib/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/lib/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/fromNet.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/chat.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!--jquery -V 3.6.0-->
</head>

<body>

    {% include "navbar.html" %}

    {% block content %}

    
    
    {% endblock content %}

    {% include "index.html" %}

    {% include "footer.html" %}

    




    <script src="{% static 'main/js/lib/jquery.min.js' %}"></script>
    <script src="{% static 'main/js/lib/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'main/js/lib/owl.carousel.min.js' %}"></script>
    <script src="{% static 'main/js/frontend.js' %}"></script>
    <script src="{% static 'main/js/main.js' %}"></script>
    
    



</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'main/js/responses.js' %}"></script>
    <script src="{% static 'main/js/chat.js' %}"></script>

</html>
